body {
    margin:15px 0px;
    font-size: 25px;
    background-image:url('images/header-background.jpg');
    
    background-position: center;
    background-size: 2800px;
    vertical-align:auto;
    background-repeat:no-repeat;
    min-width:450px;
}
a{
    display: block;
    text-decoration:none;
    color:rgb(0, 0, 0);
    
}
#home {
    font-family: 'Nanum Gothic', sans-serif;
    margin:0 auto; color: #FFF; text-align: center;
    list-style: none; 
    width:90%;
    height:98%;
    font-weight : bold;
  
}
header{
    clear:both;
    justify-content: space-between;
    display: flex;
    align-items: center;
    background-color:white;
    height: 100%;
    line-height:100px;
    padding-left:0;
    margin: 12px 0px;
    border-radius: 10px 10px 10px 10px / 10px 10px 10px 10px;
}
header li{
    text-align:center;
    width: 100%;
}

nav {
    width:100%;
    height:300px;
    background-color: white;
    margin:25px 0px;
    line-height:300px;
    border-radius: 40px 40px 40px 40px/40px 40px 40px 40px;
    
}

aside{
    width:48%;
    height:200px;
    line-height:200px;
    background-color: white; float:left;
    margin: 0px 0px;
    border-radius: 50px 50px 50px 50px/ 50px 50px 50px 50px;
    
}

section{
    width:48%;
    height:200px;
    line-height:200px;
    background-color: white; float:right;
    margin: 0px 0px;
    border-radius: 50px 50px 50px 50px/ 50px 50px 50px 50px;
}

footer{
    height:100px;
    line-height:100px;
    background-color: white; clear:both;
    margin-top: 250px;
    border-radius: 10px 10px 10px 10px / 10px 10px 10px 10px;
}


.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }

@media screen and (min-width:960px){
    #wrap{
        width:960px
    }
}
#notice {
    font-family: 'Nanum Gothic', sans-serif;
    margin:0 auto; color: #FFF; text-align: center;
    list-style: none; 
    width:98%;
}

#feature{
    width: 75%;
    height: 100%;
    margin: 30px auto;
    background-color: white;
    border: 1px solid gray; 
    border-radius: 10px 10px 10px 10px / 10px 10px 10px 10px;
    padding : 7%;
    font-family: 'Nanum Gothic', sans-serif;
    clear: both;
}
input[type="text"]{
    border-radius: 10px;
    height: 60px;
    width: 300px;
    border: 1px solid;
    border-color:rgb(182, 182, 182);
    margin-top: 3px;
    padding: 10px;
}
input[type="password"]{
    border-radius: 10px;
    height: 60px;
    width: 300px;
    border: 1px solid;
    border-color:rgb(182, 182, 182);
    margin-top: 3px;
    padding: 10px;
}
input[type="form-check-input"]{
    position:relative;
    top:4px;
}

h3{
    margin-top: 0px;
    margin-bottom: 50px;
    font-size: 35px;
}
input{
    font-size: 30px;
}

#input-text{
    margin: 10px;
}
#row{
    margin-block:35px;
}
#select-form-control-lg{
    block-size: 60px;
    font-size: 25px;
    padding:15px;
    border-radius: 10px;
    border-color:rgb(182, 182, 182);
    margin-bottom : 15px;
    margin-left : 10px;
}
.scales{
    block-size: 30px;
    align-content: center;
}
.menu ::before{
    font-family: 'Material Icons';
    font-size: 1.5em;
    float: left;
    clear: left;
}
.menu label::before{ content: '\e5d2'; }

.expand-menu {
    display: none;
    position:left;
}
#expand-menu:checked ~ ul {
    display: block;
    height: auto;
}
.menu {
    margin-right:5%;
    display: block;
    width: 200px;
    color: #fff;
    border-radius: 20px;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden; /* 반응형 애니메이션용 */
    transition: all 0.5s ease; /* 반응형 애니메이션 */
    float: right;
}
.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu a, .menu > label {
    display: block;
    height: 25px;
    padding: 8px;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}
.menu a:hover {
    color: #000;
}
.menu ul li:hover, .menu > label:hover {
    background-color: #fff;
    color: #000;
    border-radius: 10px;
}
.menu div {
    position: absolute;
    left: 50px;
    line-height: 1.5;
    font-size: 1em;
    font-family: 'Noto Sans KR';
    padding: 0 0 0 20px;
    
}
@media screen and (max-width:1023px) {
    .menu { /* 1단계 */
        width: 60px;
    }
}
@media screen and (max-width:1000px) {
    .menu #expand-menu:not(:checked) ~ ul { /* 2단계 */
        display: none;
    }
}
#logo{
    width:30%;
    font-size: 40px;
    font-weight: 1000;
    color:rgb(255, 255, 255);
    margin-left: 5%;
    float:left;
}